* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .master-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
  }
  
  .container-1 {
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    grid-column: 2/3;
    grid-template-rows: 1fr 4fr;
    /* height: 80vh; */
  }
  .container-2 {
    display: grid;
    grid-row: 1;
    background-color: #dcfce7;
    
  
  }
  /* .header {
    display: grid;
    grid-column: 2/3;
    margin-bottom: 10px;
  } */
  
  .header ul{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    list-style-type: none;
    gap: 15px;
  }
  
  .top{
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px; */
    align-items: center;
    height: 50px;
    background-color: #fafafa;
  }
  
  .search_bar {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  
  #search_text{
    width:500px;
    border-radius: 10px;
  }
  
  .search_bar ul{
    grid-template-columns: 1fr 9fr;
    align-items: center;
  }
  
  .notify ul{
    grid-template-columns: repeat(3,69px);
    align-items: center;
    margin-right: 100px;
  }
  
  #bold_it{
    font-weight: bold;
  }
  
  .top_right_img{
    width: 25px;
    height: auto;
  }
  
  .greeting_container{
    display: grid;
    grid-template-columns: 1fr 5fr 4fr; 
    background-color: #fafafa;
  }
  
  
  .header .menu ul{
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-auto-flow: column;
    margin-top: 30px;
    margin-right: 50px;
  }
  
  .menu li{
    text-align: center;
    border: 2px solid #ccc; 
    border-radius: 10px;
    background-color: #10b981;
  }
  /* .sidebar {
    display: grid; */
    /* grid-column: 1; */
    /* grid-row: 1; */
    /* align-items: center;
  } */
  
  
  .upper-section{
    /* margin-bottom: 10px; */
    display: grid;
    margin-left: 20px;
    margin-bottom: 40px;
    gap: 20px;
  }
  
  .bottom-section{
    display: grid;
    margin-top: 10px;
    margin-left: 20px;
    gap: 20px;
  }
  
  .dashboard_logo {
    display: flex;
  }
  
  .dashboard_logo h4{
    margin-top: 25px;
  }
  
  #dashboard_img {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
  }
  
  /* .sidebar .dashboard_logo {
    display: grid;
    gap: 50px;
  } */
  
  .article {
    display: grid;
    grid-column: 1/2;
    /* grid-row: 2; */
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr 15fr;
    background-color: #bbf7d0;
    /* gap: 20px; */
  }
  
  
  .left_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row:2;
  }
  
  .project_header{
    margin-left: 10px;
  }
  
  .card-1{
    background-color: white;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
  }
  
  .card-2{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: white;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .card-3{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: white;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .card-4{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: white;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .card-5{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: white;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 17px;
    border-radius: 10px;
  }
  .card-6{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: white;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 17px;
    border-radius: 10px;
  }
  
  .function_logos{
    display: grid;
    grid-template-columns: repeat(3,20px);
    /* grid-template-rows: 20px; */
    margin-top: 45px;
    margin-left: 185px;
    gap: 20px;
    /* margin-bottom: 0px; */
  }
  
  
  .right_article{
    display: grid;
    grid-column: 2/3;
    list-style-type: none;
    grid-row:2;
    margin-right: 50px;
  }
  
  .right_article ul {
    list-style-type: none;
  }
  
  .announcements{
    display: grid;
    margin-bottom: 50px;
  }
  
  .announcements ul{
    display: grid;
    gap: 10px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
  }
  
  .trending{
    display: grid;
    grid-template-rows: 20px 40px;
    gap: 20px;
  }
   
  .users h5{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: repeat(3,20px); 
    background-color: white;
    text-align: center;
  }
  
   .users h5:first-child {
    border-radius: 10px 10px 0 0; /* Rounded corner on the top left */
  } 
  
  .users h5:last-child {
    border-radius: 0 0 10px 10px; /* Rounded corner on the bottom left */
  }
  
  .side-content-1{
    display: flex;
    /* grid-template-columns: 1fr 5fr; */
    text-align: center;
    gap: 10px;
  }
  
  .side-content-1 img{
    width:20px;
    height: auto;
  }
  
  .side-content-2 {
    display: flex;
    text-align: center;
    gap: 10px;
  }
  
  
  .side-content-2 img{
    width:20px;
    height: auto;
  }